# the following line redirects "control.asu.edu/pietools" page to the actual location "control.asu.edu/pietools/pietools"; R tag is permanent, for temporary redirect use 302; Likewise the second line does the same for sostools
Redirect 301 "/pietools" "/pietools/pietools.html"
Redirect 301 "/sostools" "/sostools/sostools.html" 